.logo-p1 {
    width: 35px;
}

.logo-p1-text {
    font-weight: 600;
}

.logo-normal {
    width: 175px !important;
    right: -9px !important;
}

.logo-p2 {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.loading-layer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    display: block;
    z-index: 2000;
    opacity: 0.7;
}

.divider {
    height: 19px;
    background: #fff;
    display: block;
}

.divider:after {
    content: '';
    display: block;
    width: 96%;
    height: 2px;
    background-color: #E5E5E5;
    margin: 0 auto;
}


.loading-layer img {
    width: 55px;
    text-align: center;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 45%;
}

.card {
    padding: 25px 20px;
}

.group {
    margin-top: 20px;
}

.selectpicker {
    background: transparent;
    border: 1px solid #ccc;
    color: 121212;
}

.select-wrapper {
    width: 100%;
    backgroud: transparent;
}

.select-wrapper .btn {
    border: 1px solid #9A9A9A;
    color: #2c2c2c !important;
    background: transparent !important;
    border-color: #9A9A9A !important;
    width: 100%;
}

.center {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.form-text.optional {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

.btn-save {
    background: rgb(29, 143, 0);
}

.btn-save:hover,
.btn-save:active,
.btn-save:focus {
    background: rgb(38, 189, 0) !important;
    background-color: rgb(38, 189, 0) !important;
}

.btn {
    font-size: 14px;
}

.box-footer .btn.save {
    width: 49% !important;
    float: right;
}

box-footer .btn.save:hover {
    background: #00a4cd !important;
}

.box-footer .btn.new:hover {
    background: #00a4cd !important;
}

.box-footer .btn.delete {
    width: 49% !important;
    float: left;
    background: #cd4c4c;
}

.box-footer .btn.delete:hover {
    background: #ff4242 !important;
}


/* Search tables */

#datatable_filter input {
    height: 30px;
    width: 300px;
    font-size: 12px;
    padding: 4px 15px;
    font-weight: 400;
}

/* Tables Pagination Laravel */

ul.pagination {
    padding: 35px 0 15px 0;
    display: block;
    float: right;
}

ul.pagination li {
    float: left;
}

ul.pagination li>a,
ul.pagination li>span {
    padding: 5px 10px;
    display: block;
    background: #dfdfdf;
    margin: 0 5px;
    font-weight: 600;
    border-radius: 5px;
    text-align: center;
    color: #ccc;
}

ul.pagination li.active>span {
    color: #fff;
    background: #2fa6f9;
}

.dropify-render video {
    height: 100%;
}

.select-wrapper {
    width: 100%;
}

.select-wrapper button,
.select-wrapper button:hover {
    border: 1px solid #9A9A9A;
    color: #2c2c2c !important;
    background: transparent !important;
    border-color: #9A9A9A !important;
    width: 100%;
}

.section-title {
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 1px;
    font-size: 22px;
    font-weight: 600;
}

.row.section .btn-box .btn {
    width: 220px;
    height: 40px;
    border: 0;
    border-radius: 0;
    color: #fff;
    float: right;
}